header .bottom > div:first-child h2 {
  display: inline-block;
  font-size: 35px;
  margin-left: 45px;
  color: #4C4C4C;
  font-family: inherit;
  vertical-align: super;
}
header .bottom .clearfix .left img {
  margin-top: 5px;
}
header .bottom .clearfix .right ul {
  padding-top: 0;
}
header .bottom .clearfix .right .timeline {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .bottom .clearfix .right .timeline .this div {
  background-color: #c73844;
}
header .bottom .clearfix .right .timeline .this div::after {
  background-color: #c73844;
}
header .bottom .clearfix .right .timeline .this div::before {
  background-color: #c73844;
}
header .bottom .clearfix .right .timeline .this p {
  color: #c73844;
}
header .bottom .clearfix .right .timeline .past {
  opacity: .65;
  filter: alpha(opacity=65);
}
header .bottom .clearfix .right .timeline li:first-of-type div::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  right: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(2) {
  margin-left: 115px;
  margin-right: 65px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(2) div::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  left: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(2) div::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  right: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(3) {
  margin-left: 65px;
  margin-right: 65px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(3) div::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  left: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline li:nth-of-type(3) div::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  right: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline li:last-of-type div::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  left: -80px;
  top: 14px;
}
header .bottom .clearfix .right .timeline p {
  font-size: 14px;
  color: #DCDCDC;
}
header .bottom .clearfix .right .timeline div {
  position: relative;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DCDCDC;
  text-align: center;
  margin-bottom: 5px;
}
header .bottom .clearfix .right .timeline div::after {
  background-color: #DCDCDC;
}
header .bottom .clearfix .right .timeline div::before {
  background-color: #DCDCDC;
}
header .bottom .clearfix .right .timeline div img {
  vertical-align: bottom;
  margin-top: 6px;
}
