body {
	padding-bottom: 20px;
}

.has-error .control-label {
	color: #ed5565;
}

#error {
	display: none;
}

.bg div:first-of-type {
	height: 200px;
	background-color: #4a2f68;
}

.bg div:last-of-type {
	height: 300px;
	background-color: #EEE;
}

.bg p {
	width: 1200px;
	margin: 0 auto;
}

.login {
	position: fixed;
	left: 50%;
	top: 25%;
	margin-left: -200px;
	width: 400px;
	box-shadow: 0 0 2px #F2F2F2;
	border: 1px solid #F2F2F2;
	background-color: #F8F8F8;
	padding: 10px 35px 25px 35px;
	border-radius: 5px;
	box-shadow: 0 0 1px #f2f2f2;
}

.login h3 {
	text-align: center;
}

.login .form-group {
	margin-bottom: 10px;
}

.login button[type=submit] {
	margin-top: 15px;
}

.error {
	color: #ed5565;
}

.captcha-wrap input[type=text] {
	width: 62%;
	display: inline-block;
}

.captcha-wrap img {
	float: right;
	vertical-align: baseline;
	cursor: pointer;
}

.title {
	font-size: 32px;
	line-height: 2em;
}